<!DOCTYPE html>
<html>
<head>
    <title>My Home</title>
</head>
<body>
    <h1>This is my image upload page</h1>

    <form action="imageupload/imageprocess" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="image" type="file" name="image"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>