<!DOCTYPE html>
<html>
<head>
    <title>My Home</title>
</head>
<body>
    <h1>Is this what you expected?</h1>
    <h1>Predictions</h1>

    {% for r,p in res %}
    {{r}} {{p}}%<br/>
    {% endfor %}


</body>
</html>